.App {
  text-align: center;
  /* background-color: #24305E; */
  /* color: #fbfaf5; */
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testing {
  margin: 1rem 1rem;
  width: 25%;
}

