.App {
  text-align: center;
  /* background-color: #24305E; */
  /* color: #fbfaf5; */
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testing {
  margin: 1rem 1rem;
  width: 25%;
}

.panel {
  display: flex;
  background-color: green;
  margin-top: 10px;
  /* flex-direction: column;
  height: 100vh;
  text-align: left;
  z-index: 1; */
}

.panel-list-styling{
  background-color: lightblue;
  padding-top: 8rem;
  padding-left: 2rem;
  width: 20%;
  color: black; 
}

.panel-list a {
  color: red;
  
}
.panel-route {
  flex: 1;
}

ul {
  list-style-type: none;
}
